@dark: hsl(215, 30%, 8%);
@red: hsla(0, 100%, 50%, 65%);
@titlebar-height: 1.8rem;
@titlebar-color: @dark;

@window-controls-color-hover: rgba(88, 88, 88, 0.63);
@window-controls-width: 8.8rem;

header {
  -webkit-app-region: drag;
  grid-area: header;
  overflow: hidden;
  white-space: nowrap;
  & > * {
    display: inline-block;
		-webkit-app-region: no-drag;
  }
}
.window_control {
  float: right;
  & li {
    display: inline-block;
    height: 1.8rem;
    font-size: 1.1em;
    margin-left: 1px;
    margin-right: 1px;
    overflow: hidden;
    padding-top: 1px;
  }
}

li.window-controls {
  margin-left: -7px !important;
}

i.window-controls {
  height: -webkit-fill-available;
  padding: 0em 0rem;
  float: right;
  &:hover {
    background: @window-controls-color-hover;
  }
  &.min-btn {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.23rem;
    font-size: 1.2rem;
    user-select: none;
    font-family: Cambria;
  }
  &.max-btn {
    padding-top: 0.34rem;
    font-size: 0.75rem;
  }
  &.exit-btn {
    padding-top: 0.33rem;
    font-size: 1.2rem;
    &:hover {
      background: rgba(255, 0, 0, 0.65);
      opacity: 0.65;
      &::before{
        opacity: 1;
      }
    }
  }
}