# Build Related Folders
!android/
android/*
!android/app
android/app/*
!android/app/src/
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/res
static/*
/instant-run/
/www/
/dist/
app-debug.apk

# Private Files
/src/keys.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Package Manager Files and Folders
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
electron/node_modules/

# OS Files
.DS_Store


