# Build Related Folders
/android/
/electron/
/instant-run/
/www/
/dist/

# Private Files
/src/keys.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Package Manager Files and Folders
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/

# OS Files
.DS_Store