<html>

<head>
    {{> partials/head }}
</head>

<body>
    <header class="titlebar">
        <div class="sidebar sidebar-top"></div>
        {{> partials/window_controls }}
    </header>
    <div class="whole">
        <div class='content clear'>
            <div class="sidebar">{{> partials/sidebar}}</div>
            <div class="wrap">
                <a class="sidebar_toggle" onclick="sidebar_toggle();">≡</a>
                {{> (lookup . 'page') }}
            </div>
        </div>
        <footer class="clear">
            <div class="sidebar sidebar-bottom">
                <div class="version sidebar_content">
                    <p>Version {{ version }}</p>
                </div>
            </div>
            <div class="now_playing">{{> partials/now_playing }}</div>
        </footer>
    </div>
    <!-- {{> partials/loading }} -->
</body>

</html>