@import "theme";
@sidebar-width: 20%;
@now_playing-height: 6rem;
::-webkit-scrollbar {
    width: .4rem;
    height: .6rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    &:hover {
        background: rgba(255, 255, 255, .1);
        border-radius: .3rem;
        transition: 500ms;
    }
}

::-webkit-scrollbar-thumb {
    background: @accent-primary;
    border-radius: .3rem;
    &:hover {
        background: @accent-secondary;
        transition: 700ms;
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-family: Roboto;
    margin: 0;
    overflow: hidden;
    background: @background-primary;
}

a {
    color: @accent-primary;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.whole {
    height: 100%;
    margin-top: -.1rem; // stop and look what i did i took the width of the control element (for the win and subtracted it)
    background: @background-primary;
}

.content {
    display: flex;
    height: 80vh;
}

#hide {
    display: none;
    visibility: hidden;
}

.sidebar {
    @top-bottom-height: 2rem;
    width: 0px;
    background: @background-secondary;
    &-top {
        height: 2rem;
        width: 0px;
    }
    &-bottom {
        display: inline-block;
        height: @now_playing-height;
    }
}

footer {
    width: 100%;
    display: flex;
    background: @background-thirdindary;
    height: 20vh;
}

.now_playing {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.version {
    height: 100%;
    text-align: center;
}

.wrap {
    width: 100%;
    background: transparent;
    min-height: calc(100%-(1.8rem+20%));
    float: right;
    overflow: scroll;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}

.sidebar_toggle {
    cursor: pointer;
    margin-left: .5rem;
    font-size: 3rem;
    text-decoration: none !important;
}

.sidebar_top {
    display: flex;
}

.sidebar_title {
    float: left;
    &>img {
        min-width: 100px;
        width: 100%;
    }
}

a.sidebar_toggle_x {
    cursor: pointer;
    margin-left: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: .8rem;
}

div.sidebar_toggle_x {
    margin-top: -10rem;
    float: right;
}

.sidebar_content {
    display: none;
}

.media-buttons {
    display: inline-flex;
}

.media-controls {
    cursor: pointer;
    color: @accent-secondary;
    height: 2.8rem;
    width: 2.8rem;
    margin: .5rem;
    &:hover {
        color: @accent-primary;
    }
    &>div {
        &>svg {
            height: 2.8rem;
            width: 2.8rem;
        }
        &.pause {
            display: none;
        }
        &.saved {
            display: none;
        }
    }
    &.back>div>svg {
        transform: rotate(180deg);
    }
}

.trackbar {
    display: inline-flex;
    &>.bar {
        overflow: hidden;
        width: 80vw;
        height: 1rem;
        -webkit-appearance: none;
        background-color: @accent-secondary;
        &:focus {
            outline: 0 none !important;
        }
        cursor: pointer;
        &::-webkit-slider-runnable-track {
            height: 1rem;
            -webkit-appearance: none;
            color: #13bba4;
            margin-top: -1px;
        }
        &::-webkit-slider-thumb {
            margin-top: -.07rem;
            padding: 0 0 0 0;
            width: 1rem;
            -webkit-appearance: none;
            height: 1rem;
            border-radius: .35rem;
            cursor: pointer;
            background: @background-primary;
            box-shadow: -101vw 0 0 100vw @accent-primary;
        }
    }
}