<div class="loader">
    <div class="preloader loading">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
    </div>
</div>
<script>
    const load = () => {
        document.getElementsByClassName('loader')[0].className = "loader loaded"
        let elem = document.getElementsByClassName('main')[0].style;
        elem.visibility = 'visible';
        elem.display = 'block';
        document.getElementsByClassName('preloader')[0].innerHTML = '';
        elem = document.getElementsByClassName('iframe')[0].style;
        elem.visibility = 'hidden';
        elem.display = 'none';
    }
    window.onload = load;
</script>