<div class="sidebar_top clear">
    <div class="sidebar_title sidebar_content">
        <img srcset="/assets/images/banner.svg" width="100%" onload="center_margin();">
    </div>
    <div class="sidebar_toggle_x"><a class="sidebar_toggle_x" onclick="sidebar_toggle();">╳</a></div>
</div>
<div class="sidebar_content">
    <p>browse</p>
    <p>library</p>
    <p>virtualizer</p>
</div>