.nav-bar {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    & a {
      color: @accent-secondary;
      &:hover {
        text-decoration: none;
        color: @accent-primary;
      }
    }
    & .router-link-active {
      color: @accent-primary;
    }
    & .currentCategory {
      color: @accent-primary;
    }
  }