.sidebar {
  position: absolute !important;
  display: block;
}
.sidebar_open {
  width: 60vw !important;
}
.sidebar_title > svg {
  width: 380% !important;
}
.sidebar_content .bottom-items .right {
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
}
.album {
  width: 6rem !important;
  height: 6rem !important;
}
.album_table {
  grid-template-columns: repeat(auto-fill, minmax(6.5rem, 6rem)) !important;
}
center.albums_container {
  padding-top: 6vh;
  height: 60vh !important;
  overflow: hidden !important;
}
div.media-controls.play,
div.media-controls.pause {
  float: right;
  margin-right: -30vw;
  margin-top: 3vh;
}
center#controls {
  display: none;
}
.songs_art {
  width: 3.5rem !important;
  height: 3.5rem !important;
  padding-bottom: 0.4rem;
}
.wrap {
  width: 91% !important;
}
.detail {
  padding-top: 0.5rem !important;
}
.sidebar_toggle {
  margin-top: 2rem !important;
}
.browseSearch {
  width: 80% !important;
}

.songInput {
  margin-top: -1.2rem !important;
}

.search_icon {
  margin-top: -0.8rem !important;
  margin-right: -1.7rem !important;
}
