::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    transition: 500ms;
  }
}

::-webkit-scrollbar-thumb {
  background: @accent-primary;
  border-radius: 0.3rem;
  &:hover {
    background: @accent-secondary;
    transition: 700ms;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}